--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
# 'transformers' is installed from the default PyPI repository.
transformers
accelerate